{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

  <h2>Drivers</h2>
  <hr>
  {% if car.drivers.all.exists %}
    <ul>
      {% for driver in car.drivers.all %}
        <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No drivers assigned to this car.</p>
  {% endif %}

  {% if request.user not in car.drivers.all %}
    <form method="post" action="{% url 'taxi:assign-driver-to-car' pk=car.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Assign me to this car</button>
    </form>
  {% else %}
    <form method="post" action="{% url 'taxi:remove-driver-from-car' pk=car.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Remove me from this car</button>
    </form>
  {% endif %}

{% endblock %}
