{% extends "base.html" %}

{% block content %}
  <h1>Driver List</h1>

  {% if driver_list %}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>License Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for driver in driver_list %}
          <tr>
            <td>{{ driver.id }}</td>
            <td>
              <a href="{{ driver.get_absolute_url }}">{{ driver.username }}</a>
              {% if user == driver %}
                <span>(Me)</span>
              {% endif %}
            </td>
            <td>{{ driver.first_name }} {{ driver.last_name }}</td>
            <td>{{ driver.license_number }}</td>
            <td>
              <!-- Кнопки для оновлення та видалення водія -->
              <a href="{% url 'taxi:driver-update' driver.pk %}" class="btn btn-primary">Update</a>
              <a href="{% url 'taxi:driver-delete' driver.pk %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No drivers found.</p>
  {% endif %}

  <!-- Кнопка для створення нового водія -->
  <a href="{% url 'taxi:driver-create' %}" class="btn btn-success">Create New Driver</a>

{% endblock %}
